<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HVLLO's Blog</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <div>
        <h1><a href="/">Blog- DJGi</a></h1>
    </div>
    {% for p in post %}
        <div>
            <p1>published: {{ p.published_date }}</p1>
            <h2><a href="">{{ p.title }}</a></h2>
            <p>{{ p.text }}</p>
        </div>
    {% endfor %}
</body>
</html>